{% extends "base.html" %}

{% block content %}
    <div class="container mt-5 ml-5">
        <div class="col-sm-12">
            
            <div class="col-sm-6 col-sm-offset-3">
                <h2>{{ title }}</h2>
                <form method="POST" action="."> {% csrf_token %}
                    <!-- <input name="url" type="text" placeholder="Shorten your URL"> -->
                    {{ form.as_p }}
                    <input class="btn btn-primary" type="submit" value="Shorten">
                </form>
            </div>
        </div>
    </div>
{% endblock content %}